img.image {
  width: 250px;
}
.image {
  border: 8px groove #90e0ef;
}

img.image-dbs {
  width: 210px;
  height: 133px;
  border: 8px groove #90e0ef;
  margin-left: -30px;
}
.title {
  margin-left: 30px;
  margin-top: 45px;
  color: white;
  font-weight: 600;
  font-family: ui-monospace;
  letter-spacing: 0.5px;
  text-align: center;
}
.row.list {
  /* margin-left: 30px;
  margin-top: 30px; */
  height: 97vh;
  background-color: #90e0ef;
}
.main {
  background-color: #012a4a;
  border: 5px groove black;
}

.mainContainer {
  width: 100%;
  background-color: #012a4a;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
